/** Flex Box */
@mixin displayFlex() {
    display: -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box !important; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox !important; /* TWEENER - IE 10 */
    display: -webkit-flex !important; /* NEW - Chrome */
    display: flex !important; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/** Media Queries */
@mixin mobile {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 600px) and (max-width: 1024px) {
      @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
      @content;
    }
}

@mixin big-desktop {
    @media (min-width: 1281px) {
        @content;
    }
}