@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;500;600;700&family=Patrick+Hand&display=swap');

h1, h2, h3, th {
    font-family: 'Josefin Slab', serif;
}

p, body, p, ul, li, tr, input, button {
    font-family: 'Patrick Hand', cursive;
}

@include mobile {
    nav {
        font-size: 2em;
    }
    button {
        font-size: 1.3em;
    }
}

@include tablet {
    nav {
        font-size: 2em;
    }
    button {
        font-size: 1.3em;
    }
}

@include desktop {
    nav {
        font-size: 1.5em;
    }
    button {
        font-size: 1.2em;
    }
}

@include big-desktop {
    nav {
        font-size: 1.5em;
    }
    button {
        font-size: 1em;
    }
}